*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: rgb(24, 22, 22);
}

body{
    background-color: rgba(220, 234, 248, 0.696);
}

main{
    margin-top: 40px;
}

/* BANNER */
#banner{
    height: fit-content;
    background-color: white;
    padding: 10px 0px 5px 20px;
}

img.logo{
    width: 50px;
}

span.logo{
    font-weight: 700;
    font-size: 2.5em;
    vertical-align: text-bottom ;
    color: rgb(16, 16, 44);
}

/* FINE BANNER */

/* BUTTONBAR */
#add-task{
    color: white;
    background-color: #19B5FE;
    border: 2px solid #16a4e7;
    padding: 3px 10px;
    border-radius: 5px;
}

#add-section{
    color: lightgray;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid lightgray;
    padding: 3px 10px;
    border-radius: 5px;
}

.buttonbar-container{
    width: 70%;
    margin: auto;
    background-color: white;
    padding: 20px 5% 10px;
    border-radius: 10px 10px 0px 0px;
}

/* FINE FUNZIONI ADD */

/* STILI LISTA */ 

ul{
    list-style: none;
    padding-left: 20px;
}

h2::before{
    content: "\23F7";
    font-size: 18px;
    margin-right: 10px;
}

.check{
    font-size: 10px;
    font-weight: bolder;
    color: limegreen;
    padding: 0px 4px;
    border: 1.5px solid limegreen;
    border-radius: 50%;
    margin-right: 10px;
}